################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gruppgift/FileContentIndex/b58f2be7-e315-449c-a233-f20dc1475ce7.vsidx
